<template x-if="$store.data.openTab === 'Builder'">
  <div class="builder">
    <section class="builder builder-content-section">
      <div class="builder-content" contenteditable="">
        
      </div>
      {% include "insert-mock-type.njk" %}
    </section>
    <hr />
    <section>
      <button
        class="btn btn-primary"
        type="submit"
        :disabled="$store.data.start > $store.data.end"
      >
        Insert Text
      </button>
      <button class="btn btn-clear" type="button" @click="cancel">
        Close
      </button>
    </section>
  </div>
</template>
