$primary: #366D49;
$gray: #E8E5DF;
$dark: #3C3935;
$secondary: #4f4b46;
$error: #A52E2E;

@import "../node_modules/modern-normalize/modern-normalize";

[x-cloak] {
  display: none !important;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 10px;
  border: 2px solid $secondary;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($gray, 10);
}
body {
  font-family: sans-serif;
  color: $dark;
}
section{
  padding: 1em;
}
pre{
  background: $dark;
  color: $gray;
  padding: 12px;
  margin: 0;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
hr{
  border: 0;
  border-top: 1px solid $gray;
  margin: 0;
}
button{
  &:hover {
    cursor: pointer;
  }
}
input{
  width: 100%;
  border-radius: 3px;
  border: 1px solid $gray;
  background: white;
}
button:focus,
input:focus {
  outline-color: $primary;
  outline-offset: 3px;
}
div[contenteditable]{
  outline-offset: 6px;
  // outline: none;
  // background: $gray;
}
.btn {
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
  background: $gray;
  &:hover{
    background: darken($gray, 5);
  }
}
.btn-primary {
  background: $primary;
  color: white;
  &:hover {
    background: darken($primary, 5);
  }
  &:disabled{
    background: $gray;
    color: white;
    cursor: not-allowed;
  }
}
.btn-clear {
  padding: 8px 12px;
  border: 1px solid transparent;
  background: transparent;
  &:hover {
    background: $gray;
  }
}
.btn-insert-mock{
  border-radius: 100px;
  color: $primary;
}
.example-output {
  color: $dark;
  font-size: 0.8em;
  margin-bottom: 12px;
}
.tabs{
  background: $primary;
  padding: 8px 12px 0;
  display: flex;
  gap: 4px;
  .tab{
    flex: 1 1 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 8px 12px 8px 12px;
    color: white;
    border: none;
    background: transparent;
    transition: .2s;
    &:not(.active):hover{
      background: rgba(black, .2);
    }
    &.active{
      background: white;
      color: $dark;
    }
  }
}
.alert {
  background: $error;
  padding: 1em;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  display: flex;
  margin-bottom: 1em;
  &::before {
    content: "!";
    background: white;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    display: flex;
    border-radius: 20px;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
    color: $error;
    font-weight: bold;
  }
}
.builder,
.recent{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.builder-content{
  height: 100%;
  span{
    font-size: .8em;
    background: $gray;
    padding: 2px 12px;
    border-radius: 100px;
  }
}
.builder-btn{
  text-align: center;
  margin-top: 14px;
  position: relative;
}

.popup{
  position: absolute;
  bottom: calc(100% + 10px);
  background: $dark;
  width: 200px;
  border-radius: 3px;
  border: 1px solid $secondary;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 16px 2px rgba(black, 0.268);
  &:not(.open){
    display: none;
  }
  .popup-content{
    height: 248px;
    overflow-y: auto;
    padding-bottom: 12px;
  }
  &:after{
    content: '';
    width: 0;
    height: 0;
    left: 50%;
    border-top: 8px solid $secondary;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    position: absolute;
    transform: translate(-50%);
  }
  .popup-search{
    padding: 12px;
    padding-bottom: 0;
  }
  button{
    display: block;
    text-align: left;
    padding: 2px 12px;
    width: 100%;
    background: transparent;
    border-radius: 0;
    border: none;
    color: white;
    transition: .2s;
    &:hover{
      background: rgba(white, .075);
    }
  }
  h2{
    border-top: 1px solid $secondary;
    padding: 12px 12px 0;
    font-size: .8rem;
    color: $gray;
    font-weight: 400;
  }
}

// Utilities
.h-100{
  height: 100%;
}